/test-cases/
/backend/__pycache__/
/backend/spark-warehouse/
/backend-java/.mvn/
/backend-java/target/
/backend-java/.settings/
/backend-java/.project
/backend-java/.classpath
/backend-aditi
/node_modules/
/backend/generatedDB.db
/backend/generatedCsvFile.csv
/backend/generatedXlsxFile.xlsx
/backend/dist/Json-Grid-View Setup 1.0.0.exe
/backend/dist/win-unpacked/Json-Grid-View.exe 
/backend/dist/win-unpacked/resources/app.asar

