/test-cases/
/backend/__pycache__/
/backend/spark-warehouse/
/backend-java/.mvn/
/backend-java/target/
/backend-java/.settings/
/backend-java/.project
/backend-java/.classpath
/backend-aditi
/node_modules/
/backend/generatedDB.db
/backend/generatedCsvFile.csv
/backend/generatedXlsxFile.xlsx
/backend/dist/
/backend/build/
/frontend/node_modules/
/dist/
/src/node_modules/
