.newpreview {
    background-color: #000a29;
    height: auto;
    min-height: 100vh;
    overflow-x :hidden;
    
}
.newpreview .navbar-brand {
  color: yellow;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  font-size: x-large;
}

.newpreview button {
  margin: 0 1vh;
  
  padding: 4px;
} 

.dataframeview {
    /* overflow-x: scroll;
    overflow-y: scroll; */
   
   
    width: 100%;
    
}



.left {
  padding-left: 3vh;
  padding-top: 1vh;
 
  
}

.newpreview .nav-item .uploadButton {
  
  background-color: #f50057;
  margin: 20px 10px 20px 0px;
  width: 10vh;
  margin-left: 2vh;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 5px 10px rgba(255,255,255,0.15);
 }

 .newpreview  .nav-link {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: small;
}

.newpreview .fas {
  color: rgb(255, 255, 255);
  margin: 1vh 1vh 1vh 2vh;
}

.newpreview .box {
  background-color: #1d1e33;
  margin: 50px 10px 20px 0px;
  width: 7vh;
  margin-left: 3vh;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 5px 10px rgba(255,255,255,0.15);
}

.newpreview .nav-item .downloadButton {
background-color: #045de9;
background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
align-self: center;



margin: 80px 10px 20px 10px;
width: 30vh;
margin-left: 24%;

padding: 10px;
border-radius: 40px;
box-shadow: 5px 10px rgba(255,255,255,0.15);
}

.newpreview .progressbar {
  margin-top: 5vh;
  margin-left: 30%;
  margin-right: 30%;
}

.queryInside {
  margin-top: 7vh;
}

/* .queryInside .query {
  background-color: #ffe206;;
  border-radius: 10px;
  display: flex;
   flex-shrink: 0;
   margin-top: 6px;
   padding: 14px;
   width: 90%;
   margin-left: 1vh;
   box-shadow: 5px 10px rgba(241, 227, 22, 0.15);
} */

/* .query form {
   display: flex;
   flex-grow: 1;
   margin-right: 16px;
} */

.query input {
   border: 1px solid #eeeeee;
   width: 100%;
   padding: 14px;
   margin: 0 18px 0 0;
   flex-grow: 1;
   border-radius: 10px;
}

.query button {
   font-size: 20px;
   border-radius: 10px;
   border-color: #09c6f9;
   background-color: #09c6f9;
   box-shadow: 5px 10px rgba(0, 255, 255, 0.15);
   margin-top: 2vh;
   width: 30%;
   margin-left: 40%;
}

.filterButton {
  float: right;
  padding-right: 1vh;
  
}

.filterButton button {
  margin-left: 1vh;
  background-color: blueviolet;
  color: white;
  margin-bottom: 1px;
}









  