.editor textarea {
  margin-top: 2vh;
  background-color: black;
  color: white;
}

.editor {
  margin-left: 20%;
  margin-right: 20%;
}

.editor .processButton {
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  margin: 20px 10px 10px 10px;
  width: 30vh;
  margin-left: 22%;
  padding: 10px;
  border-radius: 40px;
  box-shadow: 5px 10px rgba(255, 255, 255, 0.15);
}

@media (max-width: 967.98px) {
  .editor textarea {
    width: 100%;
  }
  .editor {
    margin-left: 5%;
    margin-right: 5%;
  }
}
