.optionPage {
    background-color: #000a29;
    height: auto;
    min-height: 100vh;
}

.optionPage #btn1{
    background-color: #00b712;
    background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
}
.optionPage #btn2 {
  background-color: #fbb034;
background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}
.optionPage #btn3{
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #f37ac1 0%, #b1126c 74%);
}

.optionPage .nav-item .optionButton {
    /* background-image: linear-gradient(#b2fefa
    ,
    #0ed2f7); */
    /* background-color: #fbb034;
background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%); */
/* background-color: #6b0f1a;
background-image: linear-gradient(315deg, #f37ac1 0%, #b1126c 74%); */

    margin: 36px 10px 20px 10px;
    width: 30vh;
    margin-left: 12vh;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 5px 10px rgba(255,255,255,0.15);
   }
.optionPage  .nav-link {
        text-align: center;
        color: rgb(255, 255, 255);
        font-weight: 600;
        font-size: x-large;
    }

    .optionPage .fas {
        color: white;
        margin: 2vh 2vh 2vh 4vh;
    }

    .optionPage .box {
        background-color: #1d1e33;
        margin: 100px 10px 20px 10px;
        width: 30vh;
        margin-left: 12vh;
        padding: 25px;
        border-radius: 40px;
        box-shadow: 5px 10px rgba(255,255,255,0.15);
    }