.previewpage {
    background-color: #000a29;
    height: auto;
    min-height: 160vh;
    overflow-x: hidden;
}

.preview {
    background-color: #000a29;
    height: auto;
    min-height: 40vh;
    max-height: 90vh;
    display: flex;
    
}

/* ::-webkit-scrollbar {
  width: 20px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
} */
 
/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #ff3547; 
  border-radius: 10px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
} */



.previewpage .display {
  border : 4px #878787 ;
  border-style: double;
  min-height: 40vh;
  max-height: 90vh;
  margin-top: 3vh;
 
  flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
    overflow-x: scroll;
    
}

.previewpage .nav-item .uploadButton {
  
    background-color: #f50057;
    margin: 20px 10px 20px 10px;
    width: 20vh;
    margin-left: 18vh;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 5px 10px rgba(255,255,255,0.15);
   }
   .previewpage .nav-item .switchQueryButton {
    
    background-color: #aa00ff;
    margin: 20px 10px 20px 10px;
    width: 20vh;
    margin-left: 40%;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 5px 10px rgba(255,255,255,0.15);
   }
.previewpage  .nav-link {
        text-align: center;
        color: rgb(255, 255, 255);
        font-weight: 600;
        font-size: medium;
    }

    .previewpage .fas {
        color: white;
        margin: 2vh 2vh 2vh 3vh;
    }

    .previewpage .box {
        background-color: #1d1e33;
        margin: 30px 10px 20px 10px;
        width: 10vh;
        margin-left: 22vh;
        padding: 5px;
        border-radius: 20px;
        box-shadow: 5px 10px rgba(255,255,255,0.15);
    }

    .previewpage .nav-item .downloadButton {
      background-color: #045de9;
      background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
      align-self: center;


      
      margin: 80px 10px 20px 10px;
      width: 30vh;
      margin-left: 44%;
      
      padding: 10px;
      border-radius: 40px;
      box-shadow: 5px 10px rgba(255,255,255,0.15);
     }

     .previewpage .nav-item .querySubmitButton {
      background-color: #64dd17;
      align-self: center;
      

      
      margin: 80px 10px 20px 10px;
      width: 30vh;
      margin-left: 44%;
      
      padding: 10px;
      border-radius: 40px;
      box-shadow: 5px 10px rgba(255,255,255,0.15);
     }

     .previewpage .progressbar {
       margin: 5vh 30vh 0vh 30vh;
     }
     .previewpage h3 {
       text-align: center;
       color: white;
       font-family:Arial, Helvetica, sans-serif;
       word-spacing: 5px;
       
     }

     .colList {
       background-color: #2196f3;
       width: 75%;
       color: white;
       margin-top: 5%;
       margin-left: 10%;
       margin-right: 5%;
       max-height: 500px;
       overflow: auto;
       border-radius: 40px;
     }


     .valList {
      background-color: #dc004e;
      width: 75%;
      margin-right: 5%;
      margin-top: 5%;
      margin-left: 10%;
      max-height: 500px;
      overflow: auto;
      border-radius: 30px;
     }

     .searchList {
       background-color:#ffeb3b;
       width: 75%;
      margin-right: 5%;
      margin-top: 5%;
      margin-left: 10%;
      max-height: 400px;
      overflow: auto;
      border-radius: 30px;
     }

     .searchbar {
      margin-right: 5%;
      margin-top: 2%;
      margin-left: 10%;
      width:75%;
     }

     

     .textList {
       color: white;
       
     }

     .previewpage .formtoggle {
       margin-left: 30%;
       margin-right: 30%;
       margin-top: 2% ;
       margin-bottom: 5%;
       color: orange;
       text-align: center;
       letter-spacing: 1px;
     }
     .sqlQueryPage {
      margin-left: 30%;
      margin-right: 30%;
      margin-top: 2% ;
      margin-bottom: 5%;
      color: rgb(255,217,0);
      text-align: center;
      
    }
    .sqlQueryPage h5 {
      letter-spacing: 1px;
    }

     /* .queryPageButton {
      margin-left: 65%;
     } */

     .previewpage .formswitch {
       margin-left: 40%;
       margin-right: 40%;
     }

     .fullform {
       padding-top: 40px;
     }

     .fullform h5 {
       color: white;
       text-align: center;
       /* letter-spacing: 1px; */
     }

  .selectedDict {
    margin-top: 4%;
  }
    

    

     .selectedDict h4 {
      text-align: center;
      color: white;
      margin-bottom: 3%;
      letter-spacing: 1px;
      text-transform: capitalize;
    }

    .chooseDataType h6{
      color : white;
      padding-left: 20px;
    }

    .chooseDataType label{
      color : white;
      padding-left: 20px;
    }

    .chooseDataType {
      margin-top: 4%;
      margin-bottom: 4%;
    }

    .previewpage .progressbar {
      margin: 5vh 30vh 0vh 30vh;
    }