.queryPage {
    background-color: #000a29;
    height: auto;
    min-height: 100vh;
    display: flex;
    
}

.queyInside {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    
}

.queryPage .display {
  border : 8px #ffb600 ;
  border-style: double;
  min-height: 76vh;
  margin-top: 1vh;
  flex-grow: 1;
    padding: 24px 24px 0 24px;
    /* overflow-y: scroll; */
    
}

.queryPage .query {
   background-color: #ff0044;;
   border-radius: 50px;
   display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.query form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.query input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
    border-radius: 50px;
}

.query button {
    font-size: 14px;
}